<!--
File: main.html
Purpose: Main HTML file for the Mom and Pop POS system.
Author: Jirapat Kulruchakorn
Date: 30 September 2025
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mom and Pop POS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>

<body>

    <!-- Page Header -->
    <header>
    <h1>Mom and Pop POS System</h1>
    </header>

    <!-- Dashboard Cards -->
    <main id="card-container">
      <section class="card">
        <h2>Checkout</h2>
        <p>Start a new sale, scan items, and print receipts</p>
        <a href="checkout.html" class="button">Checkout</a>
      </section>

      <section class="card">
        <h2>Inventory</h2>
        <p>Manage products, stock levels, and pricing</p>
        <a href="product-management.html" class="button">Inventory</a>
      </section>

      <section class="card">
        <h2>Reports</h2>
        <p>View sales reports, inventory reports, and customer insights</p>
        <a href="sales-report.html" class="button">Reports</a>
      </section>
    </main>

    <!-- Page Footer -->
    <footer>
    <p>&copy; Mom and Pop POS System 2025, SmartVision</p>
    </footer>

</body>
</html>
