# Python cache
app/__pycache__/

# Virtual environment
.venv/

# macOS system files
.DS_Store
**/.DS_Store


# Analytic_tool
analytic_tool/

# Database
database/mydatabase.db

# macOS
.DS_Store

# Python caches
__pycache__/
*.pyc

# Local databases
*.db
*.sqlite
*.sqlite3
